a:link{ color:rgb(22,22,22); }
a:hover{ color:rgb(122,122,122); }
a:hover{ color:rgb(222,222,222); }
a:active,a:focus{color:inherit;}

#anchor-top{
	position:absolute;
	top:0;
	right:0;
}

.anchor, .anchor *{
	max-height:0 !important;
	max-width:0 !important;
	visibility:hidden;
	text-decoration: none;
	line-height: 0;
	color:inherit !important;
	text-decoration: none !important;
}