/**********************************************************************************
	color styles 3.0 
**********************************************************************************/

/*body{background-color:rgba(0,0,0,0.7);}*/
/*body, #under-foot{background-color:#707070;}*/
.quote-author-font{ color:grey;color:rgba(0,0,0,0.3);  }

.gradient-bg-01{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,373a3c+100 */
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgb(125,126,125) 0%, rgb(55,58,60) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, rgb(125,126,125) 0%,rgb(55,58,60) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, rgb(125,126,125) 0%,rgb(55,58,60) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#373a3c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.bg-blue-trans55{
	background:rgb(36,138,229);
	background:rgba(36, 113, 229, 0.55);
}

.bg-purple-trans64{
	background:rgb(41, 9, 73);
	background:rgba(41, 9, 73, 0.64);
}

.bg-grey-trans80{
	background:#c4c4c4;
	background:rgba(196, 196, 196, 0.8);
}

.text-white{}