
/* SCAFFOLDING: ELEMENTS */
.flex{display:flex;}
.flex-align-items-start{align-items: flex-start !important;}
.flex-around {  
  display: flex;
  justify-content: space-around;
}
.flex-base{align-items:baseline;}
.flex-column{flex-direction: column; -webkit-box-orient: vertical;}
.flex-jc-space-around{justify-content:space-around !important;}
.flex-wrap{flex-wrap:wrap;}
.center-children{
	/*change to flex-center-children*/
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align:center;
}
.center-children-all, .center-children-all *{
	/*change to flex-center-children*/
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align:center;
}


.center-vertical{align-content:center;} /*add flex prefix*/
.self-center{ align-self: center; text-align:center; } /*change to flex-self-center*/

.flex-img{}
.flex-img, .flex-img>div{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  align-content:center;
  justify-content:space-around;
}
.flex-img *{
  height:auto;
  max-height:20vmax;
  min-width:15vmax;
  max-width:50vmax;
}
.flex-img>*{
  margin:3vmax 0;
  padding:1vmax;
}
.flex-img img{
  min-width:200px;
  
  /*padding:2vmax !important;*/
}

.flex-row, .flex-row>*{
  width:100vw;margin:0;
  display:flex;
  align-content:center;
  align-items:center;
  justify-content:space-around;
}
.flex-row>*{
  min-height:200px;/*define height.*/
  flex-basis:100%;
}
.f-col3_7{
  flex-grow:3;
  flex-basis:0 !important;
}
.f-col4_7{
  flex-grow:4;
  flex-basis:0 !important;
}

/* FLEX COLUMNS ************************************************ */
.fc1, .f-col_1{ flex-grow:1;flex-basis:0 !important; }
.fc2, .f-col_2{ flex-grow:2;flex-basis:0 !important; }
.fc3, .f-col_3{ flex-grow:3;flex-basis:0 !important; }
.fc4, .f-col_4{ flex-grow:4;flex-basis:0 !important; }
.fc5, .f-col_5{ flex-grow:5;flex-basis:0 !important; }
.fc6, .f-col_6{ flex-grow:6;flex-basis:0 !important; }
.fc7, .f-col_7{ flex-grow:7;flex-basis:0 !important; }
.fc8, .f-col_8{ flex-grow:8;flex-basis:0 !important; }
.fc9, .f-col_9{ flex-grow:9;flex-basis:0 !important; }
.fc10, .f-col_10{ flex-grow:10;flex-basis:0 !important; }
.fc11, .f-col_11{ flex-grow:11;flex-basis:0 !important; }
.fc12, .f-col_12{ flex-grow:12;flex-basis:0 !important; }



/* GOLDEN RATIO PICTURES ************************************************ */



.golden-flex-container{height:38.2vw;background:black; } /*container height*/
.golden-flex-container,.golden-flex-container *{
  font-size:2vw;
  flex-basis:100%;
  margin:0;
  display:flex;
  align-content:center;  
  align-items:center;
  justify-content:center;
  overflow:hidden;
}

/* removing this code creates a spiral based on halves.*/
  .f{flex-grow:0.68;}
  .golden-flex-container >*:not(.f),
  .golden-flex-container *>*:not(.f){ flex-shrink:1.62; }
/*******************************************************/

.golden-flex-container .g-col>*,
.golden-flex-container .g-col-rev>*{ width:100%; }

/* purely for tile example*/
.golden-flex-container .g-col>.f,
.golden-flex-container .g-col-rev>.f{ 
  /*background:url("https://unsplash.it/900/900");*/
}

/* specicifity soley for additional border info
.golden-flex-container .g-row>*,
.golden-flex-container .g-row-rev>, */
.g-row>*,
.g-row-rev>*{ 
  height:100%;
}
/* specicifity soley for additional border info
.golden-flex-container .f,
.golden-flex-container .g-row>.f,
.golden-flex-container .g-row-rev>.f, */
.g-row>.f,
.g-row-rev>.f{ 
  /*background:url("https://unsplash.it/800/900");*/
}
.g-col{flex-direction:column; -webkit-box-orient: vertical;}
.g-col-rev{flex-direction:column-reverse;}
.g-row{flex-direction:row;}
.g-row-rev{flex-direction:row-reverse;}


@media Unused{
      .g-col-rev,
      .g-col{display:flex;flex-grow:1.618;flex-direction:column; -webkit-box-orient: vertical;}
      /*.g-col-rev{display:flex;flex-grow:1.618;flex-direction:column-reverse;}*/
      .g-col-rev div:nth-of-type(1),
      .g-row-rev div:nth-of-type(1){order:2;}
      .g-col-rev div:nth-of-type(2),
      .g-row-rev div:nth-of-type(2){order:1;}
      .g-row-rev,
      .g-row{display:flex;flex-grow:1.618;flex-direction:row;}
      /*.g-row-rev{display:flex;flex-grow:1.618;flex-direction:row-reverse;}*/
}

.golden-flex-container,.f{/**** border****/
  box-sizing:border-box;
/*   border:1px solid rgba(255,255,255,0.1); */
  border:1px solid rgba(178,169,196,0.6);
}



.f{/**** box shadow****/
/*  background-size:cover !important;*/
  flex-grow:1.618;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.4), 
              inset 0 0 6px rgba(0,0,0,0.4);    
}

