
/* SCAFFOLDING: ELEMENTS */
.flex{display:flex;}
.flex-align-items-start{align-items: flex-start !important;}
.flex-around {  
  display: flex;
  justify-content: space-around;
}
.flex-base{align-items:baseline;}
.flex-column{flex-direction: column;}
.flex-jc-space-around{justify-content:space-around !important;}
.flex-wrap{flex-wrap:wrap;}
.center-children{
	/*change to flex-center-children*/
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align:center;
}
.center-children-all, .center-children-all *{
	/*change to flex-center-children*/
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align:center;
}


.center-vertical{align-content:center;} /*add flex prefix*/
.self-center{ align-self: center; text-align:center; } /*change to flex-self-center*/

.flex-img{}
.flex-img, .flex-img>div{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  align-content:center;
  justify-content:space-around;
}
.flex-img *{
  height:auto;
  max-height:20vmax;
  min-width:15vmax;
  max-width:50vmax;
}
.flex-img>*{
  margin:3vmax 0;
  padding:1vmax;
}
.flex-img img{
  minimum-width:200px;
  
  /*padding:2vmax !important;*/
}

.flex-row, .flex-row>*{
  width:100vw;margin:0;
  display:flex;
  align-content:center;
  align-items:center;
  justify-content:space-around;
}
.flex-row>*{
  min-height:200px;/*define height.*/
  flex-basis:100%;
}
.f-col3_7{
  flex-grow:3;
  flex-basis:0 !important;
}
.f-col4_7{
  flex-grow:4;
  flex-basis:0 !important;
}

.fc1, .f-col_1{ flex-grow:1;flex-basis:0 !important; }
.fc2, .f-col_2{ flex-grow:2;flex-basis:0 !important; }
.fc3, .f-col_3{ flex-grow:3;flex-basis:0 !important; }
.fc4, .f-col_4{ flex-grow:4;flex-basis:0 !important; }
.fc5, .f-col_5{ flex-grow:5;flex-basis:0 !important; }
.fc6, .f-col_6{ flex-grow:6;flex-basis:0 !important; }
.fc7, .f-col_7{ flex-grow:7;flex-basis:0 !important; }
.fc8, .f-col_8{ flex-grow:8;flex-basis:0 !important; }
.fc9, .f-col_9{ flex-grow:9;flex-basis:0 !important; }
.fc10, .f-col_10{ flex-grow:10;flex-basis:0 !important; }
.fc11, .f-col_11{ flex-grow:11;flex-basis:0 !important; }
.fc12, .f-col_12{ flex-grow:12;flex-basis:0 !important; }
