@import url(https://fonts.googleapis.com/css?family=Archivo+Black);
@import 'https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff';


html{font:66.25%;font:66.25vw;}

.cursive-font{font-family: 'Herr Von Muellerhoff', cursive;}
.cursive-font-all,.cursive-font-all *{font-family: 'Herr Von Muellerhoff', cursive;}

#anchor-font{	
	font-weight:900;
	font-size:2rem;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}
.font-size-1p8{ font-size:1.8rem; }

.medium-font{	
	font-weight:900;
	font-size:3rem;
}
.mono-font{font-family: "Lucida Sans Typewriter","Lucida Console",monaco,"Bitstream Vera Sans Mono",monospace}
.black-font{font-family: 'Archivo Black', sans-serif;}

#hero-main-txt{
    font-family: 'Archivo Black', sans-serif;
    font-weight:400 !important;
	font-size:60pt;
	font-size:6vw;
	line-height:30pt;
	/*font-size:5vw;*/
	color:white;
	opacity:0.8;
}
.heroic-txt{
    font-family: 'Archivo Black', sans-serif;
    font-weight:400 !important;
	font-size:60pt;
	font-size:6vw;
	color:white;
	opacity:0.6;
}

#final-quote-font{
	font-size:100%;
	font-size:2.1vmin;
	font-weight:900;
	color: black;
}
.quote-author-font{ display:inline-block; }







/* OLD
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:600);
*/
/* Safari, Android, iOS *//*IS MODIFIED GEORGIA FONT*/
/*
@font-face {
  font-family: 'titleFont';
  src: url(../font/FFF_Tusj.ttf)  format('truetype'); 
}
*/