@import url(https://fonts.googleapis.com/css?family=Archivo+Black);
@import 'https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300';
/* ********************************************************************************/
html{font:66.25%;font:66.25vw;}

html,
.minimal-font{font-family: 'Open Sans',"Lucida Bright",Georgia,serif;}
.black-font{font-family: 'Archivo Black', sans-serif;}
.cursive-font{font-family: 'Herr Von Muellerhoff', cursive;}
.cursive-font-all,.cursive-font-all *{font-family: 'Herr Von Muellerhoff', cursive;}
.mono-font{font-family: "Lucida Sans Typewriter","Lucida Console",monaco,"Bitstream Vera Sans Mono",monospace}
/**********************************************************************************
	GENERICS
**********************************************************************************/

.font-size-1p8{ font-size:1.8rem; }
.font-size-11{ font-size:1.4rem; }
.medium-font{ font-weight:400; font-size:1.8rem; font-size:1.8vmax; }

/*.txt-center{ text-align:center; }*/
.txt-center{text-align: center !important;}
.txt-justify{text-align: justify !important;}

/**********************************************************************************
	SPECIFICS
**********************************************************************************/
#anchor-font{	
	font-weight:900;
	font-size:2rem;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

#hero-main-txt{
    font-family: 'Archivo Black', sans-serif;
    font-weight:400 !important;
	font-size:60pt;
	font-size:6vw;
	line-height:30pt;
	/*font-size:5vw;*/
	color:white;
	opacity:0.8;
}
.heroic-txt{
    font-family: 'Archivo Black', sans-serif;
    font-weight:400 !important;
	font-size:60pt;
	font-size:6vw;
	color:white;
	opacity:0.6;
}
footer a{}

#final-quote-font{
	font-size:100%;
	font-size:2.1vmin;
	font-weight:900;
	color: black;
}
.quote-author-font{ display:inline-block; }


.font-codepen{
    color:white;
    font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.5;
	white-space: nowrap;
	box-shadow: rgb(153, 153, 153) 0px 0px 0px 0px;
    border-color: rgb(255, 255, 255);
  	text-shadow: 0px 1px rgba(0,0,0,0.2);
}
.font-codepen a {
    text-decoration: none;
    color: #76daff;
}
.font-codepen a:hover{color:white;}




/* OLD
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:600);
*/
/* Safari, Android, iOS *//*IS MODIFIED GEORGIA FONT*/
/*
@font-face {
  font-family: 'titleFont';
  src: url(../font/FFF_Tusj.ttf)  format('truetype'); 
}
*/