/* ******************************************************** */
@import dev.css;
html,body{}
html,body,body>* {margin:0;padding:0;}
.row{margin-left:0;margin-right:0;} /*bootstart override*/
main{ 
	height:100%;
	maximum-height:100%; 
	padding:0 !important;
}

img{max-width: 100%;}
.iframe-50v50v_safe{
  min-width:372px;width:50vmax;max-width:100vw;
  min-height:270px;height:50vmin;max-height:100vh;
}


/*should organize by common alterations - containers( wells, margined boxes, etc) */
/* OVERRIDE *********************************************** */
/* need for sizing %s*/


.bg-lg-grey{background-color:rgb(144,144,144); background-color:rgba(144,144,144,0.4);}
.border-small-top{
	border-color:black;	/*border-color:rgb(44,44,44); */
	border-top:solid;
	border-width:3px;
}
.border-small-bottom{
	border-color:black;	/*border-color:rgb(44,44,44); */
	border-bottom:solid;
	border-width:3px;
}

.border-0{border:0;}

.margin-horizontal-1{ margin-left:1rem;margin-right:1rem; }
.margin-horizontal-2{ margin-left:2rem;margin-right:2rem; }
.margin-horizontal-scale-5{ 
	margin-left:5%;margin-right:5%;
	margin-left:5vh;margin-right:5vh; }
.margin-horizontal-scale-20{ 
	margin-left:20%;margin-right:20%;
	margin-left:20vh;margin-right:20vh; }
.margin-vertical-1{ margin-top: 3rem; margin:bottom: 3rem; }


.pad-p5{padding:.5rem;}
.pad-vertical-1{ padding-top:1rem;padding-bottom:1rem; }
.pad-horizontal-1{ padding-left:1rem;padding-right:1rem; }
.pad-horizontal-2-2{ 
	padding-left:2rem; padding-left:2vw;
	padding-right:2rem; padding-right:2vw;}
.pad-horizontal-4-4{ 
	padding-left:4rem; padding-left:4vw;
	padding-right:4rem; padding-right:4vw;}
.pad-left-10px{padding-left:10px;} 
.pad-bottom-4px{padding-bottom:4px;}
.pad-top-2px{padding-top:2px;}




.border-leaf{

	/*box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	*/
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgb(255,255,255) 0%, rgb(216,216,216) 86%, rgb(243,243,243) 86%, rgb(243,243,243) 87%, rgb(237,237,237) 88%, rgb(255,255,255) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgb(255,255,255) 0%,rgb(216,216,216) 86%,rgb(243,243,243) 86%,rgb(243,243,243) 87%,rgb(237,237,237) 88%,rgb(255,255,255) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgb(255,255,255) 0%,rgb(216,216,216) 86%,rgb(243,243,243) 86%,rgb(243,243,243) 87%,rgb(237,237,237) 88%,rgb(255,255,255) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	border-width:4px 30px 4px 30px;
	border-width:1vmin 0.1vmin 1vmin 0.1vmin;
	border-style: solid;
	border-color: #56c6d9 #56c6d9 #464545 #464545;
	border-color: 
	  rgba(0,0,0,0.7) 
	  rgba(0,0,0,0.8)
	  rgba(0,0,0,0.8) 
	  rgba(0,0,0,0.6);
	border-radius:0 120px 0 120px;
	-moz-border-radius:0 120px 0 120px;
	-webkit-border-radius:0 120px 0 120px;
	
	z-index: 5;
	position: relative;
	bottom:-50px; /*arbitrary*/
	bottom:-15.5vmin;
 }  
.border-leaf+.row{ /*relative to above*/
	    -webkit-filter:opacity(90%);
            filter:opacity(90%);
    padding-top:12rem;/*this should be calculated */
/*	background:rgb(36,138,229);
	background:rgba(36, 113, 229, 0.55);*/ 
	/*moved to color*/
	position: relative;
	top:-50px;
	top:-15.5vmin; 
	top:-2.5vw;/*this should be recalculated */
	z-index:0;
}



.opac-border{
	background:rgba(0,0,0,0.9);
	filter:blur(5px);
	-webkit-filter:blur(5px);
	font-size:1rem;
	line-height: normal;
	min-width:101%;/*for blur*/
	min-height:10px;	height:.5rem;height:.4vmin;	max-height:50px;
	position:absolute;
	top:0;
	left:0;
	right:0;}
.opac-border-2{
	background:rgb(45,45,45); background:rgba(0,0,0,0.9);
	filter:blur(5px);
	-webkit-filter:blur(5px);
	font-size:.1rem !importrant;/*just incase*/
	line-height: .1rem !important;/*just incase*/
	min-width:101%;/*for blur*/
  max-width:101%;
	min-height:10px;	height:.5rem;height:.4vmin;	max-height:50px;
	position:absolute;
/*   height:.4vmax; */
	top:0;
	left:0;
	right:0;
  margin:0 !important;
/*   bottom:0; */
/*   padding-top:-20%; */
/*   padding-bottom:99%; */
  background-clip:content-box !important;
}

.poster-container{align-items: center;justify-content: center;}
.single-poster, .big-boy-poster{
  margin: .6rem;
  position:relative;/*nec. for absolute position of child elements.*/
}
.poster-size{
  padding:2px;
  margin:0;
	width: 200px;
	height: 280px;  
}
.poster-frame{
  position: relative;
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 20% 100%, 20% 16%, 80% 16%, 80% 84%, 20% 84%, 20% 100%, 100% 100%, 100% 0);
clip-path: polygon(0% 0%, 0% 100%, 20% 100%, 20% 16%, 80% 16%, 80% 84%, 20% 84%, 20% 100%, 100% 100%, 100% 0);
  z-index:1;
}
/*make these into nth elements*/
.pf1{ background: grey;background: url("../../img/overlay/frame02p1.png"); }
.pf2{ background: grey;background: url("../../img/overlay/frame04p1.png"); }
.pf3{ background: grey;background: url("../../img/overlay/frame03p1.png"); }

.poster-image-a { 
  background:#1e90ff;
  background: url("http://lorempixel.com/output/abstract-q-c-400-200-4.jpg");
  background: url("../../img/overlay/frame02p1.png");
}
.poster-image-b {  
  background:#1e90ff;
  background: url("http://lorempixel.com/output/abstract-q-c-400-200-1.jpg");
  background: url("../../img/overlay/frame04p1.png");
}
.poster-image-c {  
  background:#1e90ff;
  background: url("http://lorempixel.com/output/abstract-q-c-400-200-5.jpg");
  background: url("../../img/overlay/frame03p1.png");
}
.poster-image-big-d {  
  background:#1e90ff;
  background: url("http://lorempixel.com/output/abstract-q-g-400-200-3.jpg");
  background: url("../../img/overlay/frame01p1.png");
}

.poster-content{
  position:absolute;
  top:0;bottom:0;left:0;right:0;
  padding: 3.5rem;
/*padding-left:2rem;
  padding-right:2rem; */
  text-align:center;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  z-index:999;/* z-index:1; */
}
.poster-content span{height:inherit;width:inherit;}

/* MODIFIED ************************************************ */
.well{} /*desc at bottom*/

.welp{
	display:flex;
	width:30rem;
	height:6.4rem;
	min-height: 6.4rem;
	flex-direction: column;
	font-weight:900;
	font-size:6rem;
	line-height: .2rem;
	position:relative;/*nec for first child opac-border*/
	overflow:hidden;
}
.welp span:last-of-type,
.welp-a span:last-of-type{
	letter-spacing: -.9rem;
	font-size:6rem;
	align-self: center;
	position:absolute;
	bottom:2.4rem;
}
.welp-a{
	display:flex;
	width:30%;width:30rem;width:30vw;
  min-width:10%;
	height:6.4rem;
  height:6.4vw;
	min-height: 6.4rem;
	flex-direction: column;
	font-weight:900;
	font-size:6rem;font-size:6vw;
	line-height: .2rem;line-height:.2vw;
	position:relative;/*nec for first child opac-border*/
	overflow:hidden;
}

/*.well-lg{
	width:66.5%;width:66.5rem;width:66.5vmax;
	background:rgba(177,177,177,0.9);
	font-size:medium !important; arbitrary, untested
	font-size:3rem !important;
	font-size:3vw !important;
	padding: auto 1vmax !important;
	margin: 1vmax auto;
}*/
.well-lg,.well-lg div{
  width:66.5rem;width:66.5vmax;
  height:auto;
  text-align:justify !important;
	margin: 1vmax auto;/* centers the block */
}

.well-sm,.well-sm div{
  width:33.4rem;width:33.4vmax;
  height:auto;
  text-align:justify;
	margin: 1vmax auto;/* centers the block */
}

.well-xsm,.well-xsm div{
  width:24.4rem;width:24.4vmax;
  height:auto;
  text-align:justify;
	margin: 1vmax auto;/* centers the block */
}

.well-content{ padding: 20px 50px; }
.well.web{}
.well.prog{}
.well.img{}

.section-lg{} /* used for web, programming, graphics*/
/* should maybe use content?*/

.box,.box>*{background-clip:padding-box !important;}
.box:hover .opac-border-2{	/*defined in sheet*/ }
.box-text{}


#hero-main{
	background-image:url("../../img/hero_v1p4.png") ;
	background-size:cover;
	background-attachment:fixed;
	background-position:bottom;
}
.hero{
	position:static;top:0;
	flex-wrap: nowrap;
	min-height:90%;height:90%;height:95vh;
	min-width:100%;width:100%;max-width:100%;
}

.unit-3,.unit-3 .box-text{height: 15.3rem;/*9.9*/}
.unit-3,.unit-3 div:first-child{
font-size:3.0rem;font-size:3.8vmax !important;
line-height:3.1rem; /*line-height:2.7vmax;*/
}

.well,
#to-top-button{
	display:flex;
	width:30rem;width:30vw;
  		min-width:10%;
	height:6.4rem;  height:6.4vw;
		min-height: 6.4rem;
	flex-direction: column;
	font-weight:900;
	font-size:6rem;font-size:6vw;
	line-height: .2rem;line-height:.2vw;
	position:relative;/*nec for first child opac-border*/
	overflow:hidden;
}
.well span:last-of-type,
#to-top-button span:last-of-type{
	letter-spacing: -.9rem;
	font-size:6rem;
	align-self: center;
}